.header {
    border-bottom: 3px solid #f7941e;
    height: 140px;
    width: 100%;
}

.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border-top: 25px solid #004687;
    padding: 10px;
    height: 100%;
    width: 100%;
}

.navbar img {
    height: 65%;
    aspect-ratio: 3 / 2;
}

.navbar h1 {
    font-size: 2.4rem;
}